/* css untuk class .view-customer */
.view-customer {
    background-color: #66a5ad;
    margin: auto;
    width: 70%;
    padding: 5px;
}
/* css untuk tag table, th, td */
table {
    width: 100%;
}

th, td{
    border-collapse: separate;
    padding-left: 10px;
}

th {
    text-align: left;
    background-color: aliceblue;
    height: 40px;
}

td {
    height: 25px;
    border: 1px solid #003b46;
    color: aliceblue;
    padding: 5px;
}
/* css untuk class .tombol-rekening, .tombol-ubah, .tombol-hapus, .tombol-tambah, .tombol-batal */
.tombol-rekening, .tombol-ubah, .tombol-hapus, .tombol-tambah, .tombol-batal{
    text-decoration: none;
    background-color: #375e97;
    color: white;
    padding: 6px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

.tombol-batal{
    float: left;
}

.tombol-tambah{
    padding: 6px 10px;
    float: right;
}

.tombol-rekening:hover{
    background-color: #ff4e09;
}

.tombol-ubah:hover{
    background-color: #ffff0b;
}

.tombol-hapus:hover{
    background-color: #ff0700;
}

.tombol-batal:hover{
    background-color: #ff0700;
}

.tombol-tambah:hover{
    background-color: #0f0;
}