body{
    margin: 0;
    background-color: aquamarine;
    font-family: calibri;
}

.container{
    margin: auto;
    width: 60%;
    background-color: aqua;
    box-shadow: 0px 0px 5px 0px grey;
    margin-top: 5px;
}

.header{
    height: 50px;
    background-color: aliceblue;
}

.logo{
    margin-left: 10px;
    float: left;
    height: 100%;
    color: darkslateblue;
}

.logo h1{
    margin: 0px;
}

.menu {
    height: 100%;
    margin-left: 70px;
}

.menu a{
    float: left;
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 17px;
    padding-top: 15px;
    text-align: center;
}

.menu a:hover{
    color: cornflowerblue;
    background-color: aquamarine;
}

menu a:active{
    background-color: transparent;
}


.menuRight {
    float: right;
}

.admin{
    float: left;
    font-weight: bold;
}

.admin p{
    margin-right: 10px;
}

.content{
    height: 450px;
    background-image: linear-gradient(aquamarine, aqua);
    border: 1px solid aqua;
}

.content h3{
    margin-top: 20px;
    text-align: center;
}

.add-form{
    margin: auto;
    width: 80%;
    background-color: aqua;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 5px 0px grey;
    padding: 20px;
}

.form-control-label {
    float: left;
    width: 20%;
    margin-top: 6px;
}

.form-control-input {
    float: left;
    width: 35%;
    margin-top: 6px;
}

.form-control-error {
    float: left;
    width: 35%;
    margin-top: 5px;
    margin-left: 30px;
    color: red;
    font-size: 10pt;
}

.form-group:after {
    content: "";
    display: table;
    clear: both;
}

input[type=text],input[type=password], select, textarea{
    width: 100%;
    padding: 10px;
    border: 1px aliceblue;
    border-radius: 5px;
}

label {
  display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 5px;
    margin-right: 255px;
}

input[type=submit]:hover{
    background-color: #0f0;
}

.footer{
    background-color: aliceblue;
    text-align: center;
}