body{
    margin: 0;
    background-color: aquamarine;
    font-family: calibri;
}

.container{
    margin: auto;
    width: 60%;
    background-color: aqua;
    box-shadow: 0px 0px 5px 0px grey;
    margin-top: 5px;
}

.header{
    height: 50px;
    background-color: aliceblue;
}

.logo{
    margin-left: 10px;
    float: left;
    height: 100%;
    color: darkslateblue;
}

.logo h1{
    margin: 0px;
}

.menu {
    height: 100%;
    margin-left: 70px;
}

.menu a{
    float: left;
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 17px;
    padding-top: 15px;
    text-align: center;
}

.menu a:hover{
    color: cornflowerblue;
    background-color: aquamarine;
}

.menu a:active{
    background-color: transparent;
}

.menuRight {
    float: right;
}

.admin{
    float: left;
    font-weight: bold;
}

.admin p{
    margin-right: 10px;
}

.content{
    height: 450px;
    background-image: linear-gradient(aquamarine, aqua);
    border: 1px solid aqua;
}

.content h3{
    text-align: center;
}

.description{
    background-color: aliceblue;
    width: 260px;
    border-bottom-right-radius: 10px;
    padding: 1px;
}

.footer{
    background-color: aliceblue;
    text-align: center;
}