/* css untuk class view-transaction */
.view-transaction{
    background-color: #66a5ad;
    margin: auto;
    width: 50%;
    padding: 10px 10px 40px 10px;
}
/* css untuk class tombol-transfer, tombol-riwayat, tombol-kembali */
.tombol-transfer, .tombol-riwayat, .tombol-kembali{
    text-decoration: none;
    background-color: #375e97;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.tombol-transfer {
    float: left;
}

.tombol-riwayat{
    float: right;
}

.tombol-transfer:hover{
    background-color: yellow;
}

.tombol-riwayat:hover{
    background-color: #0f0;
}

.tombol-kembali:hover{
    background-color: #ff0700;
}