/* css untuk class detil */
.detil{
    background-color: #66a5ad;
    width: 400px;
}
/* css untuk class column-label */
.column-label {
    float: left;
    width: 100px;
    background-color: bisque;
    padding: 5px;
    margin-left: 2px;
}
/* css untuk class column-value  */
.column-value {
    float: left;
    width: 250px;
    background-color: aliceblue;
    padding: 5px;
}
/* css untuk class row */
.row:after {
    content: "";
    display: table;
    clear: both;
}