/* css untuk tag body */
body {
    margin: 0;
    background-color: #c4dfe6;
    font-family: calibri;
}
/* css untuk class header */
.header {
    background-color: #003b46;
    height: 50px;
    width: 100%;
}
/* css untuk class logo */
.logo {
    margin-left: 10px;
    float: left;
    height: 100%;
    color: white;
}
/* css untuk tag h1 dalam class logo */
.logo h1 {
    margin: 0;
}
/* css untuk class menu */
.menu {
    height: 100%;
    margin-left: 70px;
}
/* css untuk tag a dalam class menu */
.menu a {
    float: left;
    text-decoration: none;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 17px;
    padding-top: 15px;
    text-align: center;
    margin-right: 10px;
}

.menu a:link {
    color: aliceblue;
}

.menu a:hover {
    color: #003b46;
    background-color: gainsboro;
}
/* css untuk class menuRight */
.menuRight{
    float: right;
}
/* css untuk class content */
.content{
    margin: auto;
    height: 463px;
    width: 70%;
}
/* css untuk tag h3 dalam class content */
.content h3{
    margin-top: 5px;
    text-align: center;
}
/* css untuk class admin */
.admin{
    float: left;
    font-weight: bold;
    color: aliceblue;
}
/* css untuk tag p dalam class admin */
.admin p{
    margin-right: 10px;
}