/* css untuk tag h2, p dalam class content*/
.content h2, p{
    margin-left: 40px;
}
/* css untuk tag h3 dalam class content-login */
.content-login h3{
    float: left;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 50px;
    background-color: aliceblue;
    border-bottom-right-radius: 10px;
}
/* css untuk class content-login */
.content-login {
    background-color: #66a5ad;
    width: 250px;
    height: 250px;;
    margin-left: 450px;
}
/* css untuk class content-input */
.content-input {
    text-align: center;
    margin-top: 10px;
    clear: both;
}
/* css untuk tag input dalam class content-input */
.content-input input {
    padding: 10px;
    width: 50%;
    text-align: center;
    border: 1px aliceblue;
    border-radius: 5px;
}
/* css untuk class error */
.error{
    text-align: center;
    color: red;
    width: 50%;
    margin: auto;
}
/* css untuk class btn-login */
.btn-login {
    background-color: aliceblue;
    color: black;
    font-size: 10pt;
    font-weight: bold;
}

.btn-login:hover{
    background-color: gainsboro;
    cursor: pointer;
}

.btn-login:active{
    background-color: transparent;
}
/* css untuk class description */
.description{
    background-color: aliceblue;
    width: 260px;
    border-bottom-right-radius: 10px;
    padding: 1px;
}